<div>
  <h1>name: {{name}}</h1>
  <p>value: {{value}}</p>

  <h2>Set #1</h2>
  <ul class='dude1'>
  {{#each items}}
    <li><a href='{{url}}'>{{title}}</a> {{description}}</li>
    {{#ifvalue title equals='Slide #3'}}
      <strong>matched title. This is the 3rd slide</strong>
    {{/ifvalue}}
  {{/each}}
  </ul>

  <h2>Set #2</h2>
  <ul class='dude2'>
  {{#each items}}
    <li><a href='{{url}}'>{{title}}</a> {{description}}</li>
    {{#ifvalue title equals='Slide #2'}}
      <strong>matched title. This is the 2nd slide</strong>
    {{/ifvalue}}
  {{/each}}
  </ul>
</div>